@model DrzavaVM
@{
    ViewData["Title"] = "Index";

}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="~/js/ajax.js"></script>

<div class="col-md-12">
    <div class="card ">
        @*modal*@
        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title primary" id="exampleModalLongTitle">Dodaj</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <partial name="DodajFormaPV" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        @*end modal*@

        <div class="card-body">
            <h4 class="card-title mt-0 primary2"> Drzave </h4> <a class="btn btn-danger" asp-area="Admin" asp-controller="Drzava" asp-action="Dodaj" style="float:right;">Nazad</a>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                Dodaj novu drzavu
            </button>
            <div class="table-responsive" style="margin-top:20px">

                <table class="table table-hover">
                    <thead class="">

                    </thead>
                    <tbody id="rootElement">
                        @foreach (var Item in Model.DrzavaRow)
                        {
                            <tr id="@Item.DrzavaID">
                                <td width="95%">@Item.Naziv</td>
                                <td width="5%">
                                    <a asp-controller="Drzava" asp-action="Edit" asp-route-id="@Item.DrzavaID" class="btn btn-outline-info align-middle w-100 " style="color:white;margin-top:5px"> <i class="fas fa-edit fa-sm text-black-50"></i></a>
                                </td>
                            </tr>

                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
