<!-- Nav Item - Pages Collapse Menu -->
<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <i class="fas fa-fw fa-wrench"></i>
        <span>Dodatne usluge</span>
    </a>
    <div id="collapseOne" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header"></h6>
            <a asp-area="Prijevoznik" asp-controller="DodatneUsluge" asp-action="Index" class="collapse-item">Dodaj uslugu</a>
            @*<a asp-area="Prijevoznik" asp-controller="Vozilo" asp-action="Dodaj" class="collapse-item">Dodaj Vozilo</a>
                <a asp-area="Prijevoznik" asp-controller="TipVozila" asp-action="Index" class="collapse-item">Tipovi Vozila</a>*@
        </div>
    </div>
</li>
