@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1 style="color:white;">@ViewData["Title"]</h1>

<p style="color:white;">
        Please check your email to confirm your account.
</p>
<a class="btn btn-primary" href="/Identity/Account/Login">Log in</a>
   

