@{
    ViewData["Title"] = "Home Page";
}
@*<div class="page-header">
        <div class="container">
                <div class="row align-content-lg-center">
                    <div class="col-md-8 ml-auto mr-auto">
                        <h1 class="text-white display-1 ">FITransport</h1>
                        <h2 class="font-weight-normal text-white display-3">Best transport services for the cheapest price!</h2>
                        <div class="btn-wrapper mt-4">
                            <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-warning btn-icon mt-3 mb-sm-0">
                                <span class="btn-inner--icon"><i class="ni ni-button-play"></i></span>
                                <span class="btn-inner--text">Sign up!</span>
                            </a>
                        </div>
                    </div>
            </div>
        </div>
    </div>*@

<div class="page-header">
    <div class="container shape-container d-flex align-items-center py-lg">
        <div class="col px-0">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 text-center">
                    <h1 class="text-white display-1">FITransport</h1>
                    <h2 class="display-4 font-weight-normal text-white">Best transport out there!</h2>
                    <div class="btn-wrapper mt-4">
                        <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-warning btn-icon mt-3 mb-sm-0">
                            <span class="btn-inner--icon"><i class="ni ni-badge"></i></span>
                            <span class="btn-inner--text">Sign up!</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
