@model GradVM
    <form ajax-poziv="da" action="Grad/Dodaj" ajax-isAppending="true" ajax-rezultat="rootElement" method="post">
        <div class="form-group">
            <label asp-for="GradForSave.DrzavaID" class="primary2">Drzava</label>
            <select asp-for="GradForSave.DrzavaID" asp-items="@Model.Drzava"></select>
        </div>
        <div class="form-group">
            <label asp-for="GradForSave.Naziv" class="primary2"></label>
            <input asp-for="GradForSave.Naziv" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="GradForSave.PostanskiBroj" class="primary2"></label>
            <input asp-for="GradForSave.PostanskiBroj" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Spremi</button>
    </form>
